@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quản Lý Diểm Học Sinh";
}
<div class='contentpane'>
	<div class='container-fluid mt-5'>
		<div id="dnn_ContentPane">
			<div class="DnnModule DnnModule-ThacsyOnline DnnModule-496">
				<div class="etep-3">
					<h2>
						
					</h2>
					<div class='container-content' style="position:relative">
						<!--Thêm mới modal-->
					


						<div id="dnn_ctr496_ContentPane">
							<!-- Start_Module_484 --><div id="dnn_ctr496_ModuleContent" class="DNNModuleContent ModThacsyOnlineC">
								<div id="dnn_ctr496_View_pnlContainer">
									<style>
										.DKForm {
											margin: 20px auto;
											padding: 10px 20px;
											border: 1px dashed #ddd;
										}
										.Hover:hover{
											color:white;
										}
									</style>
									<body>
										

										<div class="container-sm">
											<h1 class="text-center">Danh Sách Lớp Học</h1>
											<h4 class="text-center">Chọn Lớp Học </h4>
											<div class="row">
												<h2 class="fw-bold">I. Khối 10</h2>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=10A1" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 10A1</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=10A2" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 10A2</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=10A3" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 10A3</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=10A4" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 10A4</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=10A5" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 10A5</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=10A6" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 10A6</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=10A7" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 10A7</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=10A8" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 10A8</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=10A9" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 10A9</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=10A10" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 10A10</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=10A11" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 10A11</a></span>
												</div>
											</div>

											<div class="row">
												<h2 class="fw-bold mt-2">I. Khối 11</h2>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=11A1" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 11A1</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=11A2" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 11A2</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=11A3" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 11A3</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=11A4" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 11A4</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=11A5" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 11A5</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=11A6" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 11A6</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=11A7" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 11A7</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=11A8" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 11A8</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=11A9" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 11A9</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=11A10" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 11A10</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=11A11" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 11A11</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=11A12" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 11A12</a></span>
												</div>
											</div>

											<div class="row">
												<h2 class="fw-bold mt-3">I. Khối 12</h2>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=12A1" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 12A1</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=12A2" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 12A2</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=12A3" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 12A3</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=12A4" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 12A4</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=12A5" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 12A5</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=12A6" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 12A6</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=12A7" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 12A7</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=12A8" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 12A8</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=12A9" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 12A9</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=12A10" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 12A10</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=12A11" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 12A11</a></span>
												</div>
												<div class="col-3 btn btn-outline-dark  p-4 m-2">
													<span><a href="/QuanLyDiem/DanhSachDiemLop10A1?maLopHoc=12A12" class="fs-5 text-decoration-none btn-outline-dark ">Lớp 12A12</a></span>
												</div>
											</div>
										</div>
									</body>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>