@model TTLProject2.Models.DiemThiModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lớp 10A1";
}
<div class='contentpane'>
	<div class='container-fluid mt-5'>
		<div id="dnn_ContentPane">
			<div class="DnnModule DnnModule-ThacsyOnline DnnModule-496">
				<div class="etep-3">
					<h2>
						<p id="dnn_ctr496_dnnTITLE_titleLabel" class="title text-center font-bold">Quản lý điểm lớp 10A1 </p>
							<p id="dnn_ctr496_dnnTITLE_titleLabel" class="title text-center font-bold">Danh Sách Môn Học </p>
					</h2>
					<div class='container-content' style="position:relative">
						<!--Thêm mới modal-->
						
						<!-- Modal -->
						
						<!--Thêm mới modal-->
						<!--Button Modal -->
						@* <button type="submit" class="btn btn-danger" id="delete-btn" style="position:absolute;left:80%;top:4%;border-radius:50px;z-index:1000;">
							<i class="fa-solid fa-trash"></i>
							Xóa
						</button>
						 *@
						<!--Button Modal-->

						<div id="dnn_ctr496_ContentPane">
							<!-- Start_Module_484 --><div id="dnn_ctr496_ModuleContent" class="DNNModuleContent ModThacsyOnlineC">
								<div id="dnn_ctr496_View_pnlContainer">
									<style>
										.DKForm {
											margin: 20px auto;
											padding: 10px 20px;
											border: 1px dashed #ddd;
										}
									</style>
									<body>
										<div id="" class="container-sm">
											<div class="row">
											     <div class="col-md-4">
													 <img src="~/asset/images/math.jpg" style="width:100%;"/>
													<p class="text-center">
														<a href="/QuanLyDiem/DanhSachDiemLop10A1MonToan" class="text-decoration-none text-black fs-2 text-center">Toán</a>
													 </p>
												 </div>
												<div class="col-md-4">
													<img src="~/asset/images/Tiếng Anh.jpg" style="width:100%;" />
													<p class="text-center">
														<a href="" class="text-decoration-none text-black fs-2 ">Tiếng Anh</a>
													</p>
												</div>
												<div class="col-md-4">
													<img src="~/asset/images/Ngữ Văn.png" style="width:100%;" />
													<p class="text-center">
														<a href="/QuanLyDiem/DanhSachDiemLop10A1MonNguVan" class="text-decoration-none text-black fs-2 ">Ngữ văn</a>
													</p>
												</div>
												<h2 class="mt-3">Khoa Học Tự Nhiên :</h2>
												<div class="col-md-4">
													<img src="~/asset/images/Hóa học.jpg" style="width:100%;" />
													<p class="text-center">
														<a href="" class="text-decoration-none text-black fs-2 ">Hóa Học</a>
													</p>
												</div>
												<div class="col-md-4">
													<img src="~/asset/images/sinh học.jpg" style="width:100%;" />
													<p class="text-center">
														<a href="" class="text-decoration-none text-black fs-2 ">Sinh Học</a>
													</p>
												</div>
												<div class="col-md-4">
													<img src="~/asset/images/Vật Lý.jpg" style="width:100%;" />
													<p class="text-center">
														<a href="" class="text-decoration-none text-black fs-2 ">Vật Lý</a>
													</p>
												</div>

												<h2 class="mt-3">Khoa Học Xã Hội :</h2>

												<div class="col-md-4">
													<img src="~/asset/images/địa lý.jpg" style="width:100%;" />
													<p class="text-center">
														<a href="" class="text-decoration-none text-black fs-2 ">Địa Lý</a>
													</p>
												</div>
												<div class="col-md-4">
													<img src="~/asset/images/Lịch sử.png" style="width:100%;" />
													<p class="text-center">
														<a href="" class="text-decoration-none text-black fs-2 ">Lịch sử </a>
													</p>
												</div>
												<div class="col-md-4">
													<img src="~/asset/images/GDCD.svg" style="width:100%;" />
													<p class="text-center">
														<a href="" class="text-decoration-none text-black fs-2 ">GDCD</a>
													</p>
												</div>

											</div>
										</div>
									</body>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="~/css/style.css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
