@{
    ViewData["Title"] = "Cổng Thông Tin Trường THPT Thạnh Lộc ";
}

<div>
    <div class="row">
        <div class="col-12 position-relative">
            <img src="~/asset/images/banner.jpg" class="w-100"/>
            <p class="fw-bold" style="position:absolute ; top:23%;left:33% ;font-size:2rem">CỔNG THÔNG TIN HỌC SINH </p>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                <a class="btn btn-danger p-3 " href="/Identity/Account/Login" style="border-radius:30px;position:absolute ; top:40%;left:35% ;width:150px;">ĐĂNG NHẬP </a>
                <a class="btn btn-danger p-3 " href="/Identity/Account/Register" style="border-radius:30px;position:absolute ; top:40%;left:48%;width:150px;">ĐĂNG KÍ </a>

            </div>
        </div>
       
    </div>
    
</div>

