@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-sm">
    <div class="mt-2 border-bottom">
        <a href="#" class="text-decoration-none">Thông tin tin tức > </a> <a href="#" class="text-decoration-none">Tin Tức nhà trường </a>
    </div>
    <div class="row">

        <h1 class="text-center mt-3 text-danger">Tin tức nhà trường </h1>
        <div class="col-md-8">
            <div class="row border-bottom">
                <div class="col-md-4">
                    <img src="~/asset/images/Hóa học.jpg" class="w-100">
                </div>
                <div class="col-md-8 p-2 mt-4">
                    <a href="#" class="fs-3 text-black text-decoration-none hover_style">THỜI KHÓA BIỂU ÁP DỤNG TỪ NGÀY 29/04/2024</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>