@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-sm">

    <div class="row">
        <div class="col-md-12 text-center fs-3 fw-bold p-3"><i class="fa-solid fa-book-bookmark"> Dictionary</i></div>
        
    </div>
    <div class="row">
        <div class="col-md-4 btn btn-primary text-white fs-5 fw-bold p-3 ">
            <a href="/Dictionary/TraCuuTuVung">
            <img src="~/asset/images/dictionary.png" style="height:250px;border-radius:10px;"/>
            <p class="text-white text-decoration-none">Tra Cứu Từ Vựng</p>
            </a>
        </div>
        <div class="col-md-4 btn btn-warning text-white fs-5 fw-bold p-3">
            <img src="/asset/images/toeic.png" style="height:250px;border-radius:10px;" />
            <p>600 Từ Vựng Toeic </p>
        </div>
        <div class="col-md-4 btn btn-success text-white fs-5 fw-bold p-3">
            <img src="~/asset/images/ielts.webp" style="height:250px;border-radius:10px;" />
           <p>Từ Vựng Ielts</p>
    </div>
</div>
