@model TTLProject2.Models.GiaoVienViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Quản Lý Giáo Viên";
}
<div class="container-fluid">
	<h3 class="mt-3 p-3 text-center">Quản Lý Giáo Viên</h3>
	<div id="dnn_ctr496_ContentPane">
		<!-- Start_Module_484 --><div id="dnn_ctr496_ModuleContent" class="DNNModuleContent ModThacsyOnlineC">
			
			<div id="dnn_ctr496_View_pnlContainer" style="position:relative">
				<!--Button Modal-->
				<button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#exampleModal" style="position:absolute;left:84%;top:2%;z-index:100;border-radius:20px;">
					<i class="fa-solid fa-plus"></i>
					Thêm
				</button>
				<button type="submit" class="btn text-white " style="position:absolute;left:90%;top:2%;border-radius:50px;z-index:1000;background-color:#3c8dbc;">
					<i class="fa-regular fa-envelope"></i>
					mail
				</button>
				<!--Button Modal end-->
				<!--Model thêm mới -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header" style="background-color:#005a9c">
								<h5 class="modal-title text-white" id="exampleModalLabel"> <img src="~/asset/images/logo-school.png" style="width:50px; border-radius:50%;" /> Thêm Mới Giáo Viên </h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<form  method="post" id="GiaoVienForm" enctype="multipart/form-data">
								<div class="modal-body">
									<div class="mb-3">
										<label for="" class="form-label">Mã Giáo Viên <span class="text-danger">(*)</span> </label>
										<input type="text" class="form-control" id="" asp-for="MaGiaoVien" placeholder="Vd : GV...">
										<span asp-validation-for="MaGiaoVien" class="text-danger"></span>
									</div>
									<div class="row">
										<div class="mb-3 col-md-4">
											<label for="" class="form-label">Tên Giáo Viên <span class="text-danger">(*)</span></label>
											<input type="text" class="form-control" id="" asp-for="HoTen" placeholder="VD : Võ Đăng Phát">
											<span asp-validation-for="HoTen" class="text-danger"></span>
										</div>
										<div class="mb-3 col-md-4">
											<label for="" class="form-label">Giới Tính  <span class="text-danger">(*)</span></label>
											<select class="form-select" aria-label="Default select example" asp-for="MaGioiTinh" asp-items="Model.DanhSachGioiTinh" >
												<option hidden disabled selected>Giới tính </option>
											
											</select>
											<span asp-validation-for="MaGioiTinh" class="text-danger"></span>
										</div>
										<div class="mb-3  col-md-4">
											<label for="" class="form-label">Ngày Sinh  <span class="text-danger">(*)</span></label>
											<input type="date" class="form-control" id="" asp-for="NgaySinh" placeholder="Ngày Sinh">
											<span asp-validation-for="NgaySinh" class="text-danger"></span>
										</div>
									</div>

									<div class="mb-3">
										<label for="" class="form-label">Số CCCD <span class="text-danger">(*)</span></label>
										<input type="text" class="form-control" id="" asp-for="CCCD" placeholder="VD : 079....">
									    <span asp-validation-for="CCCD" class="text-danger"></span>
									</div>
									<div class="row">
										<div class="mb-3 col-md-4">
											<label for="" class="form-label">Email <span class="text-danger">(*)</span></label>
											<input type="email" class="form-control" id="" asp-for="Email" placeholder="VD : ...gmail.com">
											<span asp-validation-for="Email" class="text-danger"></span>
										</div>
										<div class="mb-3 col-md-4">
											<label for="" class="form-label">Số Điện Thoại <span class="text-danger">(*)</span></label>
											<input type="text" class="form-control" id="" asp-for="DienThoai" placeholder="VD : 09...">
											<span asp-validation-for="DienThoai" class="text-danger"></span>
										</div>
										<div class="mb-3 col-md-4">
											<label for="" class="form-label">Tôn Giáo </label>
											<select class="form-select" aria-label="Default select example" asp-for="MaTonGiao" asp-items="Model.DanhSachTonGiao" >
												<option hidden disabled selected>Tôn Giáo </option>

											</select>
										</div>
									</div>


									<div class="mb-3">
										<label for="" class="form-label">Quê Quán</label>
										<input type="text" class="form-control" asp-for="QueQuan" id="" placeholder="VD :TPHCM">
									</div>
									<div class="mb-3">
										<label for="" class="form-label">Số Bảo Hiểm Xã hội <span class="text-danger">(*)</span></label>
										<input type="text" class="form-control" id="" asp-for="SoBaoHiemXaHoi" placeholder="">
										<span asp-validation-for="SoBaoHiemXaHoi" class="text-danger"></span>
									</div>
									<div class="mb-3">
										<label for="" class="form-label">Hình Ảnh <span class="text-danger">(*)</span> </label>
										<input type="file" class="form-control" id="" asp-for="HinhAnh" placeholder="">
										<span asp-validation-for="HinhAnh" class="text-danger"></span>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label for="" class="form-label">Dân Tộc </label>
											<select class="form-select" aria-label="Default select example" asp-for="MaDanToc" asp-items="Model.DanhSachDanToc">
												<option hidden disabled selected>Dân Tộc</option>

											</select>
										</div>
										<div class="col-md-6">
											<label for="" class="form-label">Trạng Thái</label>
											<select class="form-select" aria-label="Default select example" asp-for="MaTrangThai" asp-items="Model.DanhSachTrangThai">
												<option hidden disabled selected>Trạng Thái </option>
											</select>
										</div>
										<div class="col-md-12 mt-3">
											<label for="" class="form-label">Môn Dạy Chính </label>
											<select class="form-select" aria-label="Default select example" asp-for="MaMonHoc" asp-items="Model.DanhSachMonHoc" >
												<option selected>Môn Dạy Chính</option>
											</select>
										</div>
									</div>

								</div>
								<div class="modal-footer" style="background-color:#005a9c">
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>

									<button type="submit" class="btn btn-success">Thêm mới </button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!--Model thêm mới kết thúc-->
				<style>
					.DKForm {
						margin: 20px auto;
						padding: 10px 20px;
						border: 1px dashed #ddd;
					}
				</style>
				<body>
					<div id="">
						<div class="DKForm">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<table id="giaovientable" class="table table-striped " style="min-width: max-content;">
										<thead class="text-secondary-m2 bg-tbl-header " style="background-color:#005a9c;">
											<tr class="text-white">
												<th class="border-0">Mã Giáo Viên</th>
												<th class="border-0">Họ Tên Giáo Viên  </th>
												<th class="border-0">Ngày Tháng Năm Sinh</th>
												<th class="border-0">Số Điện Thoại </th>
												<th class="border-0">Email</th>
												<th class="border-0">Môn Dạy Chính</th>
												<th class="border-0">Trạng thái</th>

												<th class="border-0 "><i class="fa fa-cog"></i></th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</body>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="~/css/style.css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"> </script>
	<script src="~/js/datatables.js"></script>
	<script src="~/lib/moment/moment.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

	

	<script type="text/javascript" src="~/js/quantri/giaovien.js">
		
		 
	</script>
}