@using Microsoft.AspNetCore.Identity
@inject SignInManager<TTLProject2.Areas.Identity.Data.ApplicationUser> SignInManager
@inject UserManager<TTLProject2.Areas.Identity.Data.ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTLProject2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TTLProject2.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/files/2024/images/logo1.jpg" />
    <script src="https://kit.fontawesome.com/3fabc68040.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  
</head>
<body>
    <header >
        <div class="container-fluid" style="padding: 0 ; margin: 0;">
            <img src="~/asset/images/panner-school-2.png" style="width:100%" />
          
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow " style="padding:0;margin:0;background-color:#1bb6ee">
            <div class="container-lg" style="">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/asset/images/logo-school.png" style="width:50px ; border-radius:50%;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
               
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 " style="font-size:1.2rem;" >
                        <li class="nav-item">
                            
                            <a class="nav-link text-white fs-6"  asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> TRANG CHỦ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-6" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fa-brands fa-readme"></i> GIỚI THIỆU</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white fs-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa-regular fa-newspaper"></i> TIN TỨC</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-item border-bottom p-3 menu-list">
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a asp-controller="QuanLyTinTuc" asp-action="TinTucNhaTruong" class="dropdown-link fs-6 text-decoration-none ">TIN TỨC NHÀ TRƯỜNG</a>
                                </div>
                                <div class="dropdown-item border-bottom p-3 menu-list">
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a asp-controller="QuanLyTinTuc" asp-action="ThongBao" class="dropdown-link fs-6 text-decoration-none ">THÔNG BÁO</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fs-6" asp-controller="DangKy" asp-action="Index"><i class="fa-solid fa-graduation-cap"></i> TUYỂN SINH 10</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link text-white fs-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-list"></i>TÍNH NĂNG  </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-item border-bottom p-3 menu-list">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <a class="dropdown-link fs-6 text-decoration-none " asp-controller="TraCuu" asp-action="Index">TRA CỨU ĐIỂM THI</a>
                                </div>

                               
                                <div class="dropdown-item border-bottom p-3  menu-list">
                                    <i class="fa-solid fa-school"></i>
                                    <a asp-controller="TraCuu" asp-action="TraCuuLopHoc" class="dropdown-link fs-6 text-decoration-none ">TRA CỨU LỚP HỌC </a>
                                </div>
                                <div class="dropdown-item border-bottom p-3 menu-list">
                                    <i class="fa-solid fa-spell-check"></i>
                                    <a asp-controller="Dictionary" asp-action="index" class="dropdown-link fs-6 text-decoration-none ">TỪ ĐIỂN TIẾNG ANH </a>
                                </div>
                                <div class="dropdown-item border-bottom p-3 menu-list">
                                    <i class="fa-solid fa-temperature-three-quarters"></i>
                                    <a href="" class="dropdown-link fs-6 text-decoration-none ">DỰ BÁO THỜI TIẾT </a>
                                </div>
                            </div>
                        </li>
                       
                        
                      

                        @if (SignInManager.IsSignedIn(User))
                        {
                            var roles = await UserManager.GetRolesAsync(user!);
                            if (roles.Contains("Quản Trị"))
                            {

                                <li class="nav-item ">
                                    <a href="#" class="nav-link text-white fs-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">QUẢN TRỊ HỆ THỐNG</a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-item border-bottom p-3 menu-list">
                                            <i class="fa-solid fa-caret-right"></i>
                                            <a href="" class="dropdown-link fs-6 text-decoration-none " ><i class="fa-solid fa-list-check"></i> QUẢN LÝ THÍ SINH ĐĂNG KÝ</a>
                                        </div>
                                        <div class="dropdown-item border-bottom p-3 menu-list">
                                            <i class="fa-solid fa-users"></i>
                                            <a class="dropdown-link fs-6 text-decoration-none " asp-controller="QuanLy" asp-action="QuanLyHocSinh"> QUẢN LÝ HỌC SINH</a>
                                        </div>
                                        <div class="dropdown-item border-bottom p-3  menu-list">
                                            <i class="fa-solid fa-users-line"></i>
                                            <a class="dropdown-link fs-6 text-decoration-none " asp-controller="QuanLy" asp-action="QuanLyLopHoc"> QUẢN LÝ LỚP HỌC  </a>
                                        </div>
                                        <div class="dropdown-item border-bottom p-3 menu-list">
                                            <i class="fa-solid fa-users-gear"></i>
                                            <a  class="dropdown-link fs-6 text-decoration-none " asp-controller="QuanLy" asp-action="GiaoVien">  QUẢN LÝ GIÁO VIÊN</a>
                                        </div>
                                        <div class="dropdown-item border-bottom p-3  menu-list">
                                            <i class="fa-solid fa-file-import"></i>
                                            <a  class="dropdown-link fs-6 text-decoration-none " asp-controller="QuanLyDiem" asp-action="DanhSachDiemHocSinh"> QUẢN LÝ ĐIỂM </a>
                                        </div>
                                        <div class="dropdown-item border-bottom p-3 menu-list">
                                            <i class="fa-regular fa-file-lines"></i>
                                            <a asp-controller="QuanLyTinTuc" asp-action="QuanLyTinTucNhaTruong" class="dropdown-link fs-6 text-decoration-none "> QUẢN LÝ BÀI VIẾT</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                      

                        @if (SignInManager.IsSignedIn(User))
                        {
                            var roles = await UserManager.GetRolesAsync(user!);
                            if (roles.Contains("Quản Trị"))
                            {

                                <li class="nav-item ">
                                    <a href="#" class="nav-link text-white fs-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">QUẢN TRỊ NGƯỜI DÙNG</a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-item border-bottom p-3 menu-list">
                                            <i class="fa-solid fa-caret-right"></i>
                                            <a class="dropdown-link fs-6 text-decoration-none " asp-controller="QuanLyUser" asp-action="Index">Quản Lý Tài Khoản</a>
                                        </div>
                                      
                                    </div>
                                </li>
                            }
                        }

                       

                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    
                            <partial name="_LoginPartial.cshtml" />
                        
                 </div>
                    
                </div>
            </div>
        </nav>
    </header>
   
        <div class="container-fuild">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
   
  

    <footer class="border-top text-muted" style="background-color:#1bb6ee;">
        <div class="container text-center p-3 text-white">
            <h4>
                TRƯỜNG TRUNG HỌC PHỔ THÔNG THẠNH LỘC
            </h4>
            <h4>Địa chỉ: 116 Nguyễn Thị Sáu (TL30), Khu phố 1, phường Thạnh Lộc, Quận 12, Tp.HCM</h4>
            <h5>Điện thoại: 028.37160098 - 028.38919010 - 028.36086256</h5>
            <h5>Email: thptthanhloc.hcm@gmail.com</h5>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>

